body {
  background-color: #121212;
  color: #fff;
}
.navbar,
.card {
  background-color: #1e1e1e;
}
.card-title,
.card-text,
.badge {
  color: #0dcaf0;
}
.badge {
  background-color: #1e1e1e;
  border: 1px solid #0dcaf0;
}
.navbar-brand {
  color: #0dcaf0;
  font-weight: bold;
}
.navbar-brand:hover {
  color: #0dcaf0;
}
.btn-outline-light {
  border-color: #0dcaf0;
  color: #0dcaf0;
}
.btn-outline-light:hover {
  background-color: #0dcaf0;
  color: #1e1e1e;
}
